PORT=3001
MONGO_URL=<mongodb url>
JWKS_URI=<unique to your auth0 application>
# find this under Application -> Applications -> Scroll to the bottom to go to Advanced Settings -> Endpoints -> OAuth -> JSON Web Key set